<h1> listing products</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Volume</th>
  </tr>
 
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.volume %></td>
    </tr>
  <% end %>
</table>
